
.wrapper{
    margin: 0 auto;
    display: flex;
}



.CardUI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: solid gray 1px;
    padding: 5px;
    margin-right: 10px;
}


